backup/2V7iKq01xHDYPunN.json
{
  "active": false,
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-12T01:24:42.706Z",
  "id": "2V7iKq01xHDYPunN",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "GoogleSheets->Email:Alerts",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1J1-cCA_BxuvYb2KNxn0BUKm97jem6J6mcecGrRYHcoc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J1-cCA_BxuvYb2KNxn0BUKm97jem6J6mcecGrRYHcoc/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1c5b2ef5-e883-42e0-98f0-b0e1aa03fcd1",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "PS5RiEeDNS66ZgTc",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    subject: `New Lead: ${$json[\"Name\"]}`,\n    body: `Email: ${$json[\"Email\"]}\\nPhone: ${$json[\"Phone\"]}`\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "ba8f4765-a289-4e48-af32-6bd23aaa9d26",
      "name": "Code"
    },
    {
      "parameters": {
        "sendTo": "suhas.mv89@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        440,
        0
      ],
      "id": "9eb0d98a-9027-4feb-aac3-41858069f180",
      "name": "Gmail",
      "webhookId": "d5b1794e-60ce-4e8b-a4dc-14868072886b",
      "credentials": {
        "gmailOAuth2": {
          "id": "k80pQqowWBdiY8PB",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Sheets Trigger": {
      "documentId": "1J1-cCA_BxuvYb2KNxn0BUKm97jem6J6mcecGrRYHcoc",
      "sheetId": 0,
      "lastIndexChecked": 5
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-19T00:27:03.000Z",
  "versionId": "a450d376-332d-47ef-831b-c2f612a4b72d"
}