backup/8Pe7smCyhIKa1iRD.json
{
  "active": false,
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weather Data": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Weather Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-13T03:54:32.966Z",
  "id": "8Pe7smCyhIKa1iRD",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Webhook-database-integration",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Convert raw API data into clean object\nconst tempC = $json.main.temp;\nconst tempF = (tempC * 9/5) + 32;\n\nreturn [{\n  json: {\n    city: $json.name,\n    temperature_celsius: tempC.toFixed(1),\n    temperature_fahrenheit: tempF.toFixed(1),\n    condition: $json.weather[0].description,\n    feels_like: $json.main.feels_like.toFixed(1),\n    humidity: $json.main.humidity,\n    date_checked: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -80
      ],
      "id": "65931f3b-61d5-40a4-92c8-4a503ed8e276",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "=https://api.openweathermap.org/data/2.5/weather?q={{ $json.city }}&appid=db8b65f584c022e56204bafc866e489b&units=metric",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        -80
      ],
      "id": "7d5948e0-6401-4d95-af02-7edb798f9887",
      "name": "Weather Data"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "city_reports",
          "mode": "list",
          "cachedResultName": "city_reports"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "city": "={{ $json.city }}",
            "weather": "={{ $json }}",
            "news": "={{ $json }}",
            "created_at": "={{ $json.date_checked }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "weather",
              "displayName": "weather",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "news",
              "displayName": "news",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1100,
        -80
      ],
      "id": "fabc429f-4022-4767-83f1-ff3da3ad18a3",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "jykCaJIHcxQsqWk7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "city-report-trigger",
        "options": {
          "responseData": "{ \"status\": \"Webhook received\" }"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        -80
      ],
      "id": "e5fca6bf-6d3f-45c7-b6ce-3ecd25022546",
      "name": "Webhook",
      "webhookId": "95fb6368-1e12-4f5a-ba0d-f426943dacf7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ebac7777-067c-4263-81bd-cd6203d98157",
              "name": "city",
              "value": "={{$json[\"body\"][\"city\"]}}",
              "type": "string"
            },
            {
              "id": "79aee8ce-14af-4bf6-bbaf-b2d950242c3e",
              "name": "requested_by",
              "value": "={{$json[\"body\"][\"user\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        -80
      ],
      "id": "641bcec9-80e2-4d5d-92ac-6fcbba306eff",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "jMhfL4qr6mn61Pxu"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-19T00:27:36.000Z",
  "versionId": "7c4fc365-2eb5-4e85-86a5-8791f779a1b3"
}