backup/jMhfL4qr6mn61Pxu.json
{
  "active": false,
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-13T01:59:55.034Z",
  "id": "jMhfL4qr6mn61Pxu",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "error-handling-logging",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "95d6bcb0-02fa-4167-bbeb-8e2712da4b6e",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e088ee7-5234-4136-ab88-5ae6268af73f",
              "name": "Workflow name:",
              "value": "={{$json.workflow.name}}",
              "type": "string"
            },
            {
              "id": "439c3a08-1606-4168-91bf-b5cfb7095e9f",
              "name": "Error message:",
              "value": "={{$json.execution.error.message}}",
              "type": "string"
            },
            {
              "id": "ef3b4925-189c-4526-9c15-3ef713c692f8",
              "name": "Error stack:",
              "value": "={{$json.execution.error.stack}}",
              "type": "string"
            },
            {
              "id": "6329f524-b86c-4df2-8d02-24e8f90c53b4",
              "name": "Failed node:",
              "value": "={{$json.execution.error.node.name}}",
              "type": "string"
            },
            {
              "id": "ee251b40-84b8-4049-a423-19d81f96c74a",
              "name": "Timestamp",
              "value": "={{new Date().toISOString()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "3fa8e0f0-5682-4a8b-940f-5f5aa95b53da",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09ARJGA8EL",
          "mode": "id"
        },
        "text": "=🚨 n8n Workflow Failed! Workflow: {{$json[\"Workflow name\"]}} Node: {{$json[\"Failed node\"]}} Error: {{$json[\"Error message\"]}} Time: {{$json[\"Timestamp\"]}}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        440,
        0
      ],
      "id": "5447dace-c4a6-45a8-a497-7e2b31105c62",
      "name": "Slack",
      "webhookId": "b6ec34f8-97a5-4287-a840-e4436bbc695d",
      "credentials": {
        "slackApi": {
          "id": "qZm8njhgcr1F27G4",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1I7smdJ2vFI7unJE_aA0v__lul3Di7tyQ6BfKX_qsM2s/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I7smdJ2vFI7unJE_aA0v__lul3Di7tyQ6BfKX_qsM2s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Workflow Name": "={{ $('Edit Fields').item.json[\"Workflow name:\"] }}",
            "Error Message": "={{ $('Edit Fields').item.json[\"Error message:\"] }}",
            "Failed Node": "={{ $('Edit Fields').item.json[\"Failed node:\"] }}",
            "Timestamp": "={{ $('Edit Fields').item.json.Timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Workflow Name",
              "displayName": "Workflow Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Failed Node",
              "displayName": "Failed Node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        660,
        0
      ],
      "id": "17e5d8ce-ef52-44e9-bf55-3a27336324e8",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oiWhzThVRrIrZewd",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-13T03:18:36.000Z",
  "versionId": "9803ef5d-9705-490b-ad4a-75d7cac1f0a6"
}