backup/jMhfL4qr6mn61Pxu.json
{
  "active": false,
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "capture_error_details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "capture_error_details": {
      "main": [
        [
          {
            "node": "send_slack_notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_slack_notification": {
      "main": [
        [
          {
            "node": "send_gmail_notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_gmail_notification": {
      "main": [
        [
          {
            "node": "update_error_details_google_sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-13T01:59:55.034Z",
  "id": "jMhfL4qr6mn61Pxu",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "error-handling-logging_gmail",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "95d6bcb0-02fa-4167-bbeb-8e2712da4b6e",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e088ee7-5234-4136-ab88-5ae6268af73f",
              "name": "Workflow name:",
              "value": "={{$json.workflow.name}}",
              "type": "string"
            },
            {
              "id": "439c3a08-1606-4168-91bf-b5cfb7095e9f",
              "name": "Error message:",
              "value": "={{$json.execution.error.message}}",
              "type": "string"
            },
            {
              "id": "ef3b4925-189c-4526-9c15-3ef713c692f8",
              "name": "Error stack:",
              "value": "={{$json.execution.error.stack}}",
              "type": "string"
            },
            {
              "id": "6329f524-b86c-4df2-8d02-24e8f90c53b4",
              "name": "Failed node:",
              "value": "={{$json.execution.error.node.name}}",
              "type": "string"
            },
            {
              "id": "ee251b40-84b8-4049-a423-19d81f96c74a",
              "name": "Timestamp",
              "value": "={{new Date().toISOString()}}",
              "type": "string"
            },
            {
              "id": "ee5eecc6-8e85-441c-b8b2-b20f79519fd3",
              "name": "Failed node:",
              "value": "= {{$json.execution.lastNodeExecuted}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "3fa8e0f0-5682-4a8b-940f-5f5aa95b53da",
      "name": "capture_error_details"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09ARJGA8EL",
          "mode": "id"
        },
        "text": "=🚨 n8n Workflow Failed! \n\nWorkflow:{{ $json[\"Workflow name:\"] }} \n\nNode:{{ $json[\"Failed node:\"] }} \n\nError:{{ $json[\"Error message:\"] }}\n\nTime: {{$json[\"Timestamp\"]}}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        440,
        0
      ],
      "id": "5447dace-c4a6-45a8-a497-7e2b31105c62",
      "name": "send_slack_notification",
      "webhookId": "b6ec34f8-97a5-4287-a840-e4436bbc695d",
      "credentials": {
        "slackApi": {
          "id": "qZm8njhgcr1F27G4",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "suhas.mv89@gmail.com",
        "subject": "={{ $('capture_error_details').item.json[\"Workflow name:\"] }} failed",
        "message": "=1. Failed Node :{{ $('capture_error_details').item.json[\"Failed node:\"] }} <br><br>\n2. Error Message : {{ $('capture_error_details').item.json[\"Error message:\"] }} <br><br>\n3. Failed at : {{ $('capture_error_details').item.json.Timestamp }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        0
      ],
      "id": "2980e314-802a-42ec-8e33-89c68257ca16",
      "name": "send_gmail_notification",
      "webhookId": "36d71dad-95ab-4ab2-b467-17e31bc65b7f",
      "credentials": {
        "gmailOAuth2": {
          "id": "k80pQqowWBdiY8PB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1I7smdJ2vFI7unJE_aA0v__lul3Di7tyQ6BfKX_qsM2s/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I7smdJ2vFI7unJE_aA0v__lul3Di7tyQ6BfKX_qsM2s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Workflow Name": "={{ $('capture_error_details').item.json[\"Workflow name:\"] }}",
            "Error Message": "={{ $('capture_error_details').item.json[\"Error message:\"] }}",
            "Failed Node": "={{ $('capture_error_details').item.json[\"Failed node:\"] }}",
            "Timestamp": "={{ $('capture_error_details').item.json.Timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Workflow Name",
              "displayName": "Workflow Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Failed Node",
              "displayName": "Failed Node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        880,
        0
      ],
      "id": "17e5d8ce-ef52-44e9-bf55-3a27336324e8",
      "name": "update_error_details_google_sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oiWhzThVRrIrZewd",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-19T00:29:24.861Z",
      "updatedAt": "2025-08-19T00:29:24.861Z",
      "id": "2tW3yk6r2sLsMeuT",
      "name": "V1"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-22T00:11:46.000Z",
  "versionId": "6be1eebd-a4ca-4e7f-941e-7a7cf8bd5712"
}