backup/MPVXKJ5zc4e1iuDL.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create_Queue_Http_Req": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Create_Queue_Http_Req",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-02T00:21:30.369Z",
  "id": "MPVXKJ5zc4e1iuDL",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "bot-brew",
  "nodes": [
    {
      "parameters": {
        "formTitle": "ACE Automation",
        "formDescription": "AI-assisted ACE 12 development. Requires requirenment pdf as input, converts the requirenment into ACE application with the help of AI and automation.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Requirement Doc",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "You can view your message flow in local folder"
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1320,
        180
      ],
      "id": "47a019c2-4355-4547-9ed5-38a864d59fd4",
      "name": "On form submission",
      "webhookId": "296fe18b-c6f4-4376-8e0b-f3bbb2fc55fb"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Requirement_Doc",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -940,
        180
      ],
      "id": "a3c8db94-2c50-46a4-9b8e-294e29f18d1f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert in IBM App Connect message flows.\n\nYou will be given a Component Specification describing nodes of a message flow. Based on this, generate an XML in the following format:\n\n<?xml version=\"1.0\" ?>\n<ecore:EPackage xmlns:xmi=\"http://www.omg.org/XMI\" xmlns:ecore=\"http://www.eclipse.org/emf/2002/Ecore\" xmlns:eflow=\"http://www.ibm.com/wbi/2005/eflow\" xmlns:utility=\"http://www.ibm.com/wbi/2005/eflow_utility\" xmlns:ComIbmMQInput.msgnode=\"ComIbmMQInput.msgnode\" xmlns:ComIbmCompute.msgnode=\"ComIbmCompute.msgnode\" xmlns:ComIbmMQOutput.msgnode=\"ComIbmMQOutput.msgnode\" xmi:version=\"2.0\" nsURI=\"{MessageFlowName}.msgflow\" nsPrefix=\"{MessageFlowName}.msgflow\">\n  <eClassifiers xmi:type=\"eflow:FCMComposite\" name=\"FCMComposite_1\">\n    <eSuperTypes href=\"http://www.ibm.com/wbi/2005/eflow#//FCMBlock\"/>\n    <translation xmi:type=\"utility:TranslatableString\" key=\"{MessageFlowName}\" bundleName=\"{MessageFlowName}\" pluginId=\"{MessageFlowName}\"/>\n    <colorGraphic16 xmi:type=\"utility:GIFFileGraphic\" resourceName=\"platform:/plugin/{MessageFlowName}/icons/full/obj16/{MessageFlowName}.gif\"/>\n    <colorGraphic32 xmi:type=\"utility:GIFFileGraphic\" resourceName=\"platform:/plugin/{MessageFlowName}/icons/full/obj30/{MessageFlowName}.gif\"/>\n    <composition>\n      {NodesXML}\n      {ConnectionsXML}\n    </composition>\n    <stickyBoard>\n      <stickyNote location=\"25,25\">\n        <body xmi:type=\"utility:ConstantString\" string=\"Auto-generated message flow.\"/>\n      </stickyNote>\n    </stickyBoard>\n    <propertyOrganizer/>\n  </eClassifiers>\n</ecore:EPackage>\n\nRules:\n- Replace {MessageFlowName} with the flow name provided (strip '.mfw' if present).\n- For each node:\n  - If Node Type is 'MQInput':\n    <nodes xmi:type=\"ComIbmMQInput.msgnode:FCMComposite_1\" xmi:id=\"FCMComposite_1_{NodeIndex}\" location=\"{XPosition},150\" queueName=\"{QueueName}\">\n      <translation xmi:type=\"utility:ConstantString\" string=\"{NodeName}\"/>\n    </nodes>\n  - If Node Type is 'Compute':\n    <nodes xmi:type=\"ComIbmCompute.msgnode:FCMComposite_1\" xmi:id=\"FCMComposite_1_{NodeIndex}\" location=\"{XPosition},150\" computeMode=\"{ComputeMode}\">\n      <translation xmi:type=\"utility:ConstantString\" string=\"{NodeName}\"/>\n    </nodes>\n  - If Node Type is 'MQOutput':\n    <nodes xmi:type=\"ComIbmMQOutput.msgnode:FCMComposite_1\" xmi:id=\"FCMComposite_1_{NodeIndex}\" location=\"{XPosition},150\" queueName=\"{QueueName}\">\n      <translation xmi:type=\"utility:ConstantString\" string=\"{NodeName}\"/>\n    </nodes>\n\n- Start XPosition at 25 and increment by 150 for each node.\n- NodeIndex starts from 1.\n- Connections: sequentially connect nodes in order of NodeIndex, example:\n  <connections xmi:type=\"eflow:FCMConnection\" xmi:id=\"FCMConnection_{ConnectionIndex}\" sourceNode=\"FCMComposite_1_{SourceNodeIndex}\" targetNode=\"FCMComposite_1_{TargetNodeIndex}\" sourceTerminalName=\"OutTerminal.out\" targetTerminalName=\"InTerminal.in\"/>\n\n- Include <stickyNote> with text: \"Auto-generated message flow.\"\n\nInput:\n{{ $json.text }}\n\nOutput:\nOutput only the completed XML structure. Do not include any explanation or extra text.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -380,
        -320
      ],
      "id": "bc2a28a7-a2c5-4a01-b87a-212a0a52de26",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "mistral:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -292,
        -100
      ],
      "id": "af71180e-b4c6-41f1-926a-4b48b9a7a972",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "zhJUjQLO4OnrQysr",
          "name": "Ollama account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ 'C:/Personal/n8n/Flowbuilder/'+$('Edit Fields').item.json.application_Name +'/' + $('Edit Fields').item.json.application_Name + '.msgflow' }}",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1160,
        -400
      ],
      "id": "c7715450-302d-4a18-b07d-50694531efe4",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "content": "## Flow Builder Leg\nBuilds ACE12 message flow skeleton",
        "height": 440,
        "width": 1300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -682,
        -400
      ],
      "id": "6331c129-f154-412f-ae54-57698420fd73",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an assistant that reads software requirement documents and extracts MQ administrative actions based on queue configuration sections.\n\nThe input{{ $json.text }} will be text extracted from a PDF. Focus specifically on the section titled **\"4.4 Queue Details\"**. Ignore everything else.\n\nYour goal is to extract each queue and return its associated MQ administrative action in the following JSON format:\n\n{\n  \"action\": \"create\",\n  \"queue_name\": \"SPCT.ACCSILT.FINTEXTENDED.OUT\",\n  \"queue_manager\": \"QM1\"\n}\n\n### Instructions:\n- Always assume `action` is `\"create\"` unless the text explicitly mentions delete or update.\n- Use the queue name for both `queue_name` and `queue_manager` if no separate queue manager is mentioned.\n- Return one JSON object per queue found in the \"4.4 Queue Details\" section.\n- Do not include any extra text, only return an array of valid JSON objects matching this schema:\n```json\n[{\n  \"type\": \"object\",\n  \"properties\": {\n    \"action\": {\n      \"type\": \"string\",\n      \"enum\": [\"delete\", \"create\", \"update\"]\n    },\n    \"queue_name\": {\n      \"type\": \"string\",\n      \"minLength\": 1\n    },\n    \"queue_manager\": {\n      \"type\": \"string\",\n      \"minLength\": 1\n    }\n  },\n  \"required\": [\"action\", \"queue_name\", \"queue_manager\"],\n  \"additionalProperties\": false\n}]\n Output:\nOutput only the completed JSON structure. Do not include any explanation or extra text.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are an assistant that extracts MQ admin actions from natural language. Convert the user's input into JSON with keys: action, queue_name, queue_manager."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -380,
        180
      ],
      "id": "55587216-5164-4e96-b4e1-2b949b3b1bab",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://127.0.0.1:9443/ibmmq/rest/v1/admin/qmgr/{{ $json.queue_manager }}/queue\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ibm-mq-rest-csrf-token",
              "value": "1122"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"name\": \"{{ $json.queue_name }}\",\n   \"type\": \"local\",\n   \"events\" : {\n      \"depth\" : {\n          \"highEnabled\" : true,\n          \"highPercentage\" : 75\n       }\n    },\n   \"storage\" : {\n      \"maximumDepth\" : 1000\n   }\n} ",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        436,
        180
      ],
      "id": "bd323b79-3829-417d-a58f-af225f18ec0a",
      "name": "Create_Queue_Http_Req",
      "credentials": {
        "httpBasicAuth": {
          "id": "uYupxuEi7ZaFmdXW",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "model": "=mistral:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -292,
        400
      ],
      "id": "91d3423d-489b-4ce5-8717-5004ee307f5b",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "zhJUjQLO4OnrQysr",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Queue Creation leg",
        "height": 440,
        "width": 1300,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -680,
        100
      ],
      "id": "27fb19e1-3660-4843-8f36-33b98005b5d0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const parsed = JSON.parse($json.text);\nreturn parsed.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4,
        180
      ],
      "id": "97574793-8728-4576-a80f-125cacd54b30",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        216,
        180
      ],
      "id": "7ecb902d-fe96-451e-86b4-46ffae4cc8f7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert in IBM App Connect Enterprise (ACE) ESQL development.\n\nGenerate complete and correct ESQL code for a Compute Module to transform XML input into JSON output using IBM ACE ESQL syntax. Do not generate any extra characters at the start and end of the output.Do not wrap the output in triple backticks (```).\n\nRequirements:\n- The Compute Module must be named XMLToJSONConverter\n- Use the standard ACE ESQL structure\n- The input XML is available under InputRoot.XMLNSC.{root_element}\n- The output JSON must be written to OutputRoot.JSON.Data\n- Use:\n  DECLARE inputRef REFERENCE TO InputRoot.XMLNSC.{root_element};\n  DECLARE outputRef REFERENCE TO OutputRoot.JSON.Data;\n- Do NOT use XPath-like expressions such as inputRef./person/field\n- Instead, use inputRef.field\n- For each mapping, use this syntax exactly:\n  CREATE FIELD outputRef.<json_field> VALUE inputRef.<xml_element>;\n- Use CAST(... AS INTEGER) for numeric fields if required\n- Start with CREATE COMPUTE MODULE and end with END MODULE;\n- Do NOT output any Markdown, SQL, or XPath syntax\n- Output should be pure, correct ESQL only\n- Do NOT output explanations. Just the ESQL code block\n\nExample format:\n\nCREATE COMPUTE MODULE XMLToJSONConverter\n    CREATE FUNCTION Main() RETURNS BOOLEAN\n    BEGIN\n        DECLARE inputRef REFERENCE TO InputRoot.XMLNSC.{root_element};\n        DECLARE outputRef REFERENCE TO OutputRoot.JSON.Data;\n\n        -- Map fields from XML to JSON\n        CREATE FIELD outputRef.<json_field> VALUE inputRef.<xml_element>;\n        CREATE FIELD outputRef.<json_field> VALUE CAST(inputRef.<xml_element> AS INTEGER);\n\n        RETURN TRUE;\n    END;\nEND MODULE;\n\nMappings to use:use 4.5 Mapping Specification from {{ $json.text }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -560,
        720
      ],
      "id": "cb81da94-d3ed-4ae4-9f5d-fc3fba95b173",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": "mistral:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -540,
        900
      ],
      "id": "706ac97a-36b7-4700-98c0-568e97972b11",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "zhJUjQLO4OnrQysr",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -180,
        720
      ],
      "id": "bf238e7e-1042-460b-a235-fe9c1be5b3a6",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\Personal\\n8n\\Flowbuilder\\msgflow\\test.esql",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        60,
        720
      ],
      "id": "8b7e8855-d673-404e-91c0-f39246e6714d",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "content": "## Mapping Leg \n",
        "height": 420,
        "width": 1300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -680,
        580
      ],
      "id": "d4a9095d-517e-439e-811f-975dbdb5fb27",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "dataPropertyName": "=output",
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        160,
        -400
      ],
      "id": "4ebeea07-a41b-447c-ac85-156334875528",
      "name": "XML"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b18f05b-c251-4f8e-aba1-194410bedaa7",
              "name": "application_Name",
              "value": "={{ $json['ecore:EPackage'].nsURI.replace('.msgflow','') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        -400
      ],
      "id": "1e538ac1-ea78-422c-8e1b-7a46f53145f6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const xmlContent = $('AI Agent').first().json.output;\n\nreturn [\n  {\n    json: {},\n    binary: {\n      data: {\n        data: Buffer.from(xmlContent).toString('base64'),\n        mimeType: 'application/xml',\n        fileName: 'flow.msgflow',\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -160
      ],
      "id": "f6dff78a-9a8a-4dc8-b636-45885a3578d8",
      "name": "Code1"
    },
    {
      "parameters": {
        "command": "={{ 'if not exist \"C:\\\\Personal\\\\n8n\\\\Flowbuilder\\\\' + $('Edit Fields').item.json.application_Name + '\" mkdir \"C:\\\\Personal\\\\n8n\\\\Flowbuilder\\\\' + $('Edit Fields').item.json.application_Name + '\"' }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        600,
        -400
      ],
      "id": "c3154a9d-d37e-4da3-bbc8-33dfdd5f8038",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      fileName: $('Edit Fields').first().json.application_Name + '.xml',\n      content: `<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<projectDescription>\n\t<name>${$('Edit Fields').first().json.application_Name}</name>\n\t<comment></comment>\n\t<projects>\n\t</projects>\n\t<buildSpec>\n\t\t<buildCommand>\n\t\t\t<name>com.ibm.etools.mft.applib.applibbuilder</name>\n\t\t\t<arguments>\n\t\t\t</arguments>\n\t\t</buildCommand>\n\t\t<buildCommand>\n\t\t\t<name>com.ibm.etools.mft.applib.applibresourcevalidator</name>\n\t\t\t<arguments>\n\t\t\t</arguments>\n\t\t</buildCommand>\n\t\t<buildCommand>\n\t\t\t<name>com.ibm.etools.mft.connector.policy.ui.PolicyBuilder</name>\n\t\t\t<arguments>\n\t\t\t</arguments>\n\t\t</buildCommand>\n\t\t<buildCommand>\n\t\t\t<name>com.ibm.etools.mft.applib.mbprojectbuilder</name>\n\t\t\t<arguments>\n\t\t\t</arguments>\n\t\t</buildCommand>\n\t\t<buildCommand>\n\t\t\t<name>com.ibm.etools.msg.validation.dfdl.mlibdfdlbuilder</name>\n\t\t\t<arguments>\n\t\t\t</arguments>\n\t\t</buildCommand>\n\t\t<buildCommand>\n\t\t\t<name>com.ibm.etools.mft.flow.adapters.adapterbuilder</name>\n\t\t\t<arguments>\n\t\t\t</arguments>\n\t\t</buildCommand>\n\t\t<buildCommand>\n\t\t\t<name>com.ibm.etools.mft.flow.sca.scabuilder</name>\n\t\t\t<arguments>\n\t\t\t</arguments>\n\t\t</buildCommand>\n\t\t<buildCommand>\n\t\t\t<name>com.ibm.etools.msg.validation.dfdl.mbprojectresourcesbuilder</name>\n\t\t\t<arguments>\n\t\t\t</arguments>\n\t\t</buildCommand>\n\t\t<buildCommand>\n\t\t\t<name>com.ibm.etools.mft.esql.lang.esqllangbuilder</name>\n\t\t\t<arguments>\n\t\t\t</arguments>\n\t\t</buildCommand>\n\t\t<buildCommand>\n\t\t\t<name>com.ibm.etools.mft.map.builder.mslmappingbuilder</name>\n\t\t\t<arguments>\n\t\t\t</arguments>\n\t\t</buildCommand>\n\t\t<buildCommand>\n\t\t\t<name>com.ibm.etools.mft.flow.msgflowxsltbuilder</name>\n\t\t\t<arguments>\n\t\t\t</arguments>\n\t\t</buildCommand>\n\t\t<buildCommand>\n\t\t\t<name>com.ibm.etools.mft.flow.msgflowbuilder</name>\n\t\t\t<arguments>\n\t\t\t</arguments>\n\t\t</buildCommand>\n\t\t<buildCommand>\n\t\t\t<name>com.ibm.etools.mft.decision.service.ui.decisionservicerulebuilder</name>\n\t\t\t<arguments>\n\t\t\t</arguments>\n\t\t</buildCommand>\n\t\t<buildCommand>\n\t\t\t<name>com.ibm.etools.mft.pattern.capture.PatternBuilder</name>\n\t\t\t<arguments>\n\t\t\t</arguments>\n\t\t</buildCommand>\n\t\t<buildCommand>\n\t\t\t<name>com.ibm.etools.mft.json.builder.JSONBuilder</name>\n\t\t\t<arguments>\n\t\t\t</arguments>\n\t\t</buildCommand>\n\t\t<buildCommand>\n\t\t\t<name>com.ibm.etools.mft.restapi.ui.restApiDefinitionsBuilder</name>\n\t\t\t<arguments>\n\t\t\t</arguments>\n\t\t</buildCommand>\n\t\t<buildCommand>\n\t\t\t<name>com.ibm.etools.mft.policy.ui.policybuilder</name>\n\t\t\t<arguments>\n\t\t\t</arguments>\n\t\t</buildCommand>\n\t\t<buildCommand>\n\t\t\t<name>com.ibm.etools.mft.msg.assembly.messageAssemblyBuilder</name>\n\t\t\t<arguments>\n\t\t\t</arguments>\n\t\t</buildCommand>\n\t\t<buildCommand>\n\t\t\t<name>com.ibm.etools.msg.validation.dfdl.dfdlqnamevalidator</name>\n\t\t\t<arguments>\n\t\t\t</arguments>\n\t\t</buildCommand>\n\t\t<buildCommand>\n\t\t\t<name>com.ibm.etools.mft.bar.ext.barbuilder</name>\n\t\t\t<arguments>\n\t\t\t</arguments>\n\t\t</buildCommand>\n\t\t<buildCommand>\n\t\t\t<name>com.ibm.etools.mft.unittest.ui.TestCaseBuilder</name>\n\t\t\t<arguments>\n\t\t\t</arguments>\n\t\t</buildCommand>\n\t</buildSpec>\n\t<natures>\n\t\t<nature>com.ibm.etools.msgbroker.tooling.applicationNature</nature>\n\t\t<nature>com.ibm.etools.msgbroker.tooling.messageBrokerProjectNature</nature>\n\t</natures>\n</projectDescription>`\n\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        -400
      ],
      "id": "263cf8ee-3156-40a3-828a-e21723aa62aa",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "const xmlContent =$input.first().json.content;\n\nreturn [\n  {\n    json: {},\n    binary: {\n      data: {\n        data: Buffer.from(xmlContent).toString('base64'),\n        mimeType: 'application/xml',\n        fileName: '.project',\n      },\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -360
      ],
      "id": "d2c2d179-5314-4fd6-9da9-1fc1c34f8ea8",
      "name": "Code3"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ 'C:/Personal/n8n/Flowbuilder/'+$('Edit Fields').item.json.application_Name +'/' + '.project' }}",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1620,
        20
      ],
      "id": "d82b47eb-3175-4feb-8b4b-53360ff6dbcd",
      "name": "Read/Write Files from Disk2"
    }
  ],
  "pinData": {
    "AI Agent": [
      {
        "json": {
          "output": " <?xml version=\"1.0\" ?>\n   <ecore:EPackage xmlns:xmi=\"http://www.omg.org/XMI\" xmlns:ecore=\"http://www.eclipse.org/emf/2002/Ecore\" xmlns:eflow=\"http://www.ibm.com/wbi/2005/eflow\" xmlns:utility=\"http://www.ibm.com/wbi/2005/eflow_utility\" xmlns:ComIbmMQInput=\"ComIbmMQInput.msgnode\" xmlns:ComIbmCompute=\"ComIbmCompute.msgnode\" xmlns:ComIbmMQOutput=\"ComIbmMQOutput.msgnode\" xmi:version=\"2.0\" nsURI=\"AccSlfFinTxExtendedRouting.msgflow\" nsPrefix=\"AccSlfFinTxExtendedRouting.msgflow\">\n     <eClassifiers xmi:type=\"eflow:FCMComposite\" name=\"FCMComposite_1\">\n       <eSuperTypes href=\"http://www.ibm.com/wbi/2005/eflow#//FCMBlock\"/>\n       <translation xmi:type=\"utility:TranslatableString\" key=\"AccSlfFinTxExtendedRouting\" bundleName=\"AccSlfFinTxExtendedRouting\" pluginId=\"AccSlfFinTxExtendedRouting\"/>\n       <colorGraphic16 xmi:type=\"utility:GIFFileGraphic\" resourceName=\"platform:/plugin/AccSlfFinTxExtendedRouting/icons/full/obj16/AccSlfFinTxExtendedRouting.gif\"/>\n       <colorGraphic32 xmi:type=\"utility:GIFFileGraphic\" resourceName=\"platform:/plugin/AccSlfFinTxExtendedRouting/icons/full/obj30/AccSlfFinTxExtendedRouting.gif\"/>\n       <composition>\n         <nodes xmi:type=\"ComIbmMQInput.msgnode:FCMComposite_1\" xmi:id=\"FCMComposite_1_1\" location=\"25,150\" queueName=\"ACCSTL.FINTEXTENDED.IN\">\n           <translation xmi:type=\"utility:ConstantString\" string=\"ACCSTL.FINTEXTENDED.IN\"/>\n         </nodes>\n         <nodes xmi:type=\"ComIbmCompute.msgnode:FCMComposite_1\" xmi:id=\"FCMComposite_1_2\" location=\"25,300\" computeMode=\"Message\">\n           <translation xmi:type=\"utility:ConstantString\" string=\"AccSlfFinTxExtendedRouting\"/>\n         </nodes>\n         <nodes xmi:type=\"ComIbmMQOutput.msgnode:FCMComposite_1\" xmi:id=\"FCMComposite_1_3\" location=\"25,450\" queueName=\"SPCT.ACCSTL.FINTEXTENDED.OUT\">\n           <translation xmi:type=\"utility:ConstantString\" string=\"SPCT.ACCSTL.FINTEXTENDED.OUT\"/>\n         </nodes>\n       </composition>\n       <stickyBoard>\n         <stickyNote location=\"25,25\">\n           <body xmi:type=\"utility:ConstantString\" string=\"Auto-generated message flow.\"/>\n         </stickyNote>\n       </stickyBoard>\n       <propertyOrganizer/>\n     </eClassifiers>\n   </ecore:EPackage>"
        }
      }
    ],
    "Basic LLM Chain": [
      {
        "json": {
          "text": "[\n      {\n        \"action\": \"create\",\n        \"queue_name\": \"ACCSTL.FINTEXTENDED.IN\",\n        \"queue_manager\": \"QM1\"\n      },\n      {\n        \"action\": \"create\",\n        \"queue_name\": \"SPCT.ACCSTL.FINTEXTENDED.OUT\",\n        \"queue_manager\": \"QM1\"\n      }\n    ]"
        }
      }
    ],
    "Code": [
      {
        "json": {
          "action": "create",
          "queue_name": "ACCSTL.FINTEXTENDED.IN",
          "queue_manager": "QM1"
        }
      },
      {
        "json": {
          "action": "create",
          "queue_name": "SPCT.ACCSTL.FINTEXTENDED.OUT",
          "queue_manager": "QM1"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-05T10:18:17.000Z",
  "versionId": "e6ac01d3-267d-4f50-9066-3b87ddbf8e01"
}