backup/NAp1U8RbLltaO0lb.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "read_order_predicted_dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "check_for_mail_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read_order_predicted_dates": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_for_mail_status": {
      "main": [
        [
          {
            "node": "send_gmail_notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_gmail_notification": {
      "main": [
        [
          {
            "node": "send_whatsapp_notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_whatsapp_notification": {
      "main": [
        [
          {
            "node": "updated_mail_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updated_mail_status": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-17T23:46:23.130Z",
  "id": "NAp1U8RbLltaO0lb",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Doggyji_Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        50
      ],
      "id": "99ce78b7-d59e-4aa4-9652-6b410594f1a7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        440,
        50
      ],
      "id": "cac23e34-88ca-4682-be28-725ab3e9e756",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1baFn_L1Lbe8vOUtdcSMzbnYLSMqea8LoSzoUh9sVvPU/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1baFn_L1Lbe8vOUtdcSMzbnYLSMqea8LoSzoUh9sVvPU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        50
      ],
      "id": "1a69f6f8-dad8-4809-8b42-959087f114d3",
      "name": "read_order_predicted_dates",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oiWhzThVRrIrZewd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "efba276d-2c15-4fba-b916-75aef471c23c",
              "leftValue": "={{ $json.Predicted_Next_Order }}",
              "rightValue": "={{ DateTime.now().plus({ days: 4 }).toISODate() }}\n",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "bfa51d2c-28c1-4a56-9801-2813e301ec12",
              "leftValue": "={{ $json.Mail_Status }}",
              "rightValue": "SENT",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        0
      ],
      "id": "6c27a477-dc49-451f-a8b1-a131f624070b",
      "name": "check_for_mail_status"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Customer_Email }}",
        "subject": "🐾Paw-sitive reminder 🐾Doggy Ji🐾",
        "message": "=Hi {{ $json.Customer_Name }},<br><br>\n\nWe couldn’t help but notice that your Doggy Ji supplies might be running low. 🐶💖\nAnd we both know—an empty bowl means sad puppy eyes (and none of us want that!).<br><br>\n\nKeep your furry friend’s tail wagging with their favorite treats and meals.<br><br>\nIt just takes a click to restock and keep the happiness flowing:<br><br>\n\nOrder Doggy Ji Now<br><br>\n👉 https://www.doggyji.com/all-products/<br><br>\n\nBecause every meal is more than food—it’s love, care, and a wag of joy. 🐾<br><br>\n\nWith love ,<br><br>\nThe Doggy Ji Team 🐕✨<br><br>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        0
      ],
      "id": "ecc5e1ad-67a1-4f5f-9e2d-725e0abf73e1",
      "name": "send_gmail_notification",
      "webhookId": "0d996f48-93e3-4269-9ccb-8ec45fb4302b",
      "credentials": {
        "gmailOAuth2": {
          "id": "k80pQqowWBdiY8PB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/735208326349704/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAUf9VaVyiYBPJeh877mXxG14rV0hmDqKMOZAjdGPVhQ6zDPlrfVr3vrGoT5aw00DOtD3BNXDhriBNEAYxCO6Obh6JYi17baflpBHMIWTStZBoCkQecI83b71WrL4cOsZBjIllVnP0ENZArAo9AY4kCWaM9PWbpIYfENEe7XJaZB9nWhci3ohDFmViCDeGg7j"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ '91' + $('check_for_mail_status').item.json.Billing_Phone }}\",\n    \"type\": \"template\",\n    \"template\": {\n        \"name\": \"doggyji \",\n        \"language\": {\n            \"code\": \"en\"\n        },\n        \"components\": [\n            {\n                \"type\": \"button\",\n                \"sub_type\": \"CATALOG\",\n                \"index\": 0,\n                \"parameters\": [\n                    {\n                        \"type\": \"action\",\n                        \"action\": {\n                            \"thumbnail_product_retailer_id\": \"lql6g38vpp\"\n                        }\n                    }\n                ]\n            }\n        ]\n    }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        0
      ],
      "id": "81c6ae65-990e-45a4-9f34-f05cfa658e2e",
      "name": "send_whatsapp_notification"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1baFn_L1Lbe8vOUtdcSMzbnYLSMqea8LoSzoUh9sVvPU/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1baFn_L1Lbe8vOUtdcSMzbnYLSMqea8LoSzoUh9sVvPU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Mail_Status": "={{ $('send_gmail_notification').item.json.labelIds.includes('SENT') ? 'SENT' : '' }}",
            "Billing_Phone": "={{ $('check_for_mail_status').item.json.Billing_Phone }}"
          },
          "matchingColumns": [
            "Billing_Phone"
          ],
          "schema": [
            {
              "id": "Billing_Phone",
              "displayName": "Billing_Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Customer_Email",
              "displayName": "Customer_Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Customer_Name",
              "displayName": "Customer_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Orders",
              "displayName": "Orders",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Predicted_Next_Order",
              "displayName": "Predicted_Next_Order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Mail_Status",
              "displayName": "Mail_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1320,
        75
      ],
      "id": "7236269e-1a7e-4c2f-893c-e4e0ff6a0749",
      "name": "updated_mail_status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oiWhzThVRrIrZewd",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "jMhfL4qr6mn61Pxu"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-21T10:38:47.000Z",
  "versionId": "04eb121a-9008-4fd4-8469-fe9159ec6713"
}