backup/VU4Kr3TczsCCBtcM.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-13T16:44:34.592Z",
  "id": "VU4Kr3TczsCCBtcM",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "crypto_price_tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "59f308f6-200c-40f1-949e-3243c48955d6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin,ethereum&vs_currencies=usd",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "2b33f3a0-fab0-4413-ba24-868d5e30af9a",
      "name": "HTTP Request",
      "retryOnFail": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "crypto_prices",
          "mode": "list",
          "cachedResultName": "crypto_prices"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "symbol": "={{ $json.symbol }}",
            "price_usd": "={{ $json.price_usd }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "symbol",
              "displayName": "symbol",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price_usd",
              "displayName": "price_usd",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_checked",
              "displayName": "date_checked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        660,
        0
      ],
      "id": "b77b25f3-e400-475f-a5d9-7d2c6e28ede8",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "jykCaJIHcxQsqWk7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return Object.keys($json).map(symbol => {\n  return {\n    json: {\n      symbol,\n      price_usd: $json[symbol].usd\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "2f406a16-0001-4468-9a8f-447425dccbbc",
      "name": "Code"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09A5HCE31R",
          "mode": "id"
        },
        "text": "={{ $json.symbol }} Price is - {{ $json.price_usd }} ",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        880,
        0
      ],
      "id": "a938ef23-6687-4633-a272-62cb4e886a1a",
      "name": "Slack",
      "webhookId": "ea1eb585-9c9d-4203-bd35-152305059eb4",
      "executeOnce": false,
      "notesInFlow": true,
      "credentials": {
        "slackApi": {
          "id": "qZm8njhgcr1F27G4",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-19T00:26:51.000Z",
  "versionId": "feca968d-af05-48a0-8329-f5ce89b9b6cb"
}